@model List<Game>

@foreach (Game g in Model) {
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 rwrapper">
            <div class="rlisting">
                <div class="col-md-12 nopad">
                    <img src="http://dummyimage.com/250x250" class="img-responsive">
                </div>
                <div class="col-md-12 nopad">
                    <h5>@g.Title</h5>
                    <p>@g.Platform</p>
                    <div class="rfooter">
                        <a asp-action="" asp-controller="">Request Partner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
