@model TermProject296N.Models.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div asp-validation-summary="All" class="text-danger"></div>
<div class="container">
    <div class="row">
        <div class="main">
            <h3>Please Log In, or <a asp-controller="Authentication" asp-action="Register">Sign Up</a></h3>

            <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
            </div>
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="UserName"></label><br />
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn btn-primary">
                    Log In
                </button>
            </form>

        </div>

    </div>
</div>